@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
	/* Primarios */
	--color-primary: hsl(203, 89%, 53%);
	--color-primary-hover: hsl(204, 79%, 47%);
	--color-danger: hsl(356, 91%, 54%);
	--color-danger-hover: hsl(357, 76%, 49%);

	/* Fondos */
	--bg-primary: hsl(210, 34%, 13%);
	--bg-secondary: hsl(209, 27%, 15%);

	/* Bordes */
	--border: hsl(206, 16%, 30%);

	/* Texto */
	--text-primary: hsl(180, 14%, 97%);
	--text-secondary: hsl(210, 13%, 65%);
	--text-inverse: hsl(210, 25%, 8%);

	/* Botones */
	--button-hover: hsl(209, 20%, 21%);
	--button-light: hsl(192, 19%, 95%);
	--button-light-hover: hsl(192, 7%, 85%);

	/* Otros */
	--nomeacuerdoparaqueeraeste: hsl(204, 7%, 47%);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", sans-serif;
	font-size: 15px;
	color: var(--text-primary);
	background-color: var(--bg-primary);
}

nav.nav-menu {
	position: fixed;
	top: 16px;
	left: 16px;
	z-index: 999;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

nav.nav-menu a {
	padding: 10px;
	border-radius: 50%;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
	transition: all 0.2s ease;
}

nav.nav-menu a:hover {
	color: var(--color-primary);
	box-shadow: 0 0 8px hsla(203, 89%, 53%, 0.8);
	transform: scale(1.1);
}

nav.nav-menu a svg {
	width: 44px;
	height: 44px;
}

main {
	width: 600px;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
}

article.index,
article.show {
	padding: 12px 16px;
	border: 1px solid var(--border);
	line-height: 20px;
}

article.index {
	margin: 0;
	border-top: none;
	transition: all 0.2s ease;
}

article.show {
	display: grid;
	justify-items: center;
	height: fit-content;
	margin: 30% 0;
	border-radius: 10px;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
	text-align: center;
}

.text-muted {
	color: var(--text-secondary);
}

div.resource-actions,
div.form-actions {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}

div.resource-actions a,
div.resource-actions button,
div.form-actions a,
div.form-actions button {
	padding: 6px 16px;
	border: 1px solid var(--border);
	border-radius: 50px;
	transition: all 0.2s ease;
}

div.resource-actions {
	justify-content: flex-start;
}

div.resource-actions button {
	color: var(--color-danger);
	cursor: pointer;
}

div.resource-actions button:hover {
	color: var(--text-primary);
	background-color: var(--color-danger-hover);
}

div.resource-actions a:hover {
	background-color: var(--color-primary);
}

div.form-actions {
	justify-content: flex-end;
}

div.form-actions button {
	cursor: pointer;
}

div.form-actions button:hover {
	background-color: var(--color-primary);
}

div.form-actions a:hover {
	color: var(--text-primary);
	background-color: var(--color-danger);
}

form.resource-form {
	margin: 10vh auto 0;
	padding: 24px;
	background-color: var(--bg-secondary);
	border-radius: 12px;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
}

form.auth-form,
form.resource-form {
	display: flex;
	flex-direction: column;
	justify-items: center;
	gap: 10px;
	height: fit-content;
	margin: 10vh auto 0;
	padding: 12px 16px;
	background-color: var(--bg-secondary);
	border: 1px solid var(--border);
	border-radius: 12px;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
	line-height: 20px;
}

form.auth-form button {
	margin-top: 0.4rem;
	padding: 12px 16px;
	background-color: var(--color-primary);
	border: 1px solid var(--border);
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.2s ease;
}

form.auth-form button:hover {
	color: var(--color-primary);
	background-color: var(--button-light-hover);
}

form.auth-form a {
	color: var(--color-primary);
	text-decoration: none;
	transition: all 0.2s ease;
}

form.auth-form a:hover {
	color: var(--color-primary-hover);
}

form label {
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-primary);
	display: block;
}

form input {
	margin: 0.2rem 0;
	background-color: var(--bg-primary);
	width: 100%;
	font-size: x-large;
	border: 1px solid var(--border);
	border-radius: 5px;
	padding: 10px;
	outline: none;
	transition: all 0.4s ease;
	font-weight: 300;
}

form input:focus {
	border: 1px solid var(--color-primary);
}

form textarea {
	display: inline-block;
	height: 200px;
	font-size: large;
	border: 1px solid var(--border);
	overflow: hidden;
	border-radius: 5px;
	padding: 10px;
	outline: none;
	transition: all 0.4s ease;
	background-color: var(--bg-primary);
	resize: none;
}

form textarea:focus {
	border: 1px solid var(--color-primary);
}

p.error-message {
	float: inline-end;
	color: var(--color-danger);
}

footer {
	position: fixed;
	bottom: 10px;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0;
	font-size: large;
}

div.auth-widget {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 16px;
	padding: 12px 18px;
	background: var(--bg-secondary);
	border-radius: 12px;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
	color: var(--text-primary);
}

div.auth-widget p span.auth-widget-username {
	color: var(--text-secondary);
	opacity: 0.7;
}

div.auth-widget form button.auth-widget-logout-btn {
	color: var(--color-primary);
	cursor: pointer;
	transition: all 0.2s ease;
}

div.auth-widget form button.auth-widget-logout-btn:hover {
	color: var(--color-primary-hover);
}
