@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
	--font-sans:
		"Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
	/* Twitter/X */
	--color-primary: #1da1f2;

	/* Fondos */
	--color-background: #15202b;
	--color-background-hover: #1c2731;

	/* Bordes */
	--color-border: #38444d;

	/* Texto */
	--color-text-primary: #f7f9f9;
	--color-text-secondary: #8b98a5;
	--color-text-inverse: #0f1419;

	/* Botones */
	--color-btn-hover: #2a353f;
	--color-btn-light: #eff3f4;
	--color-btn-light-hover: #d7dbdc;
	--color-btn-danger: #f4212e;
	--color-btn-danger-hover: #dc1e29;
}

body {
	background-color: var(--color-background);
	color: var(--color-text-primary);
	font-family: "Segoe UI", sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

div.menu-btns {
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 10px;
	top: 20px;
	left: 20px;
}

div.menu-btns a {
	padding: 10px;
	font-size: 2.5rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s ease;
}

div.menu-btns a:hover {
	background-color: var(--color-btn-hover);
	transform: scale(1.1);
}

main {
	width: 600px;
	margin: 0 auto;
	padding: 0;
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
}

article {
	margin: 0;
	padding: 12px 16px;
	line-height: 20px;
	border-bottom: 1px solid var(--color-border);
	transition: all 0.2s ease;
}

span.subtext {
	color: var(--color-text-secondary);
}

div.resource-actions {
	margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

div.resource-actions a,
div.resource-actions button {
	border: 1px solid var(--color-border);
	border-radius: 50px;
	padding: 6px 16px;
	font-weight: bold;
	transition: all 0.2s ease;
}

div.resource-actions .delete {
	color: var(--color-btn-danger);
    margin-right: auto;
}

div.resource-actions a:hover,
div.resource-actions button:hover {
	background-color: var(--color-primary);
}

div.resource-actions button:hover {
	cursor: pointer;
}

div.resource-actions .delete:hover {
	background-color: var(--color-btn-danger-hover);
    color: var(--color-text-primary);
}

div.resource-actions .cancel:hover {
	background-color: var(--color-background-hover);
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

label,
input {
	font-size: 20px;
}

input {
	outline: none;
	border-bottom: 1px solid var(--color-border);
	transition: all 0.2s ease;
}

input:focus {
	border-color: var(--color-primary);
}

textarea {
	font-size: 20px;
	width: 100%;
	height: 300px;
	padding: 2px;
	outline: none;
	border: 2px solid var(--color-border);
	border-radius: 5px;
	transition: all 0.2s ease;
}

textarea:focus {
	border-color: var(--color-primary);
}
