body {
    background-color: #16213e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #f39c12;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #f39c12;
    flex: 1;
    text-align: right;
}

hr {
    border: none;
    border-top: 1px solid #f39c12;
    margin: 10px 0;
}

#deals-container {
    border: 1px solid #f39c12;
    border-radius: 10px;
    width: 60%;
    margin: 5% auto;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #0f3460;
}

#login-container, #signup-container {
    border: 1px solid #f39c12;
    border-radius: 10px;
    width: 30%;
    margin: 10% auto;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #0f3460;
}

#login-container label, #signup-container label {
    display: inline-block;
    width: 200px;
}

#login-container input[type="email"],
#login-container input[type="password"],
#signup-container input[type="text"],
#signup-container input[type="email"],
#signup-container input[type="password"] {
    display: inline-block;
    width: calc(100% - 210px);
    box-sizing: border-box;
    vertical-align: middle;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #f39c12;
    border-radius: 5px;
    background-color: #1c2541;
    color: #f39c12;
    font-size: 1.5rem;
}

#login-container button[type="submit"],
#signup-container button[type="submit"] {
    background-color: #f39c12;
    color: #16213e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin: 20px auto;
    font-size: 1.5rem;
}

#login-container button[type="submit"]:hover,
#signup-container button[type="submit"]:hover {
    background-color: #e67e22;
}

#like-form button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #f39c12;
}

.categoria {
    background-color: #f39c12;
    color: #16213e;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 1rem;
}

.categoria a {
    color: #16213e;
    text-decoration: none;
}

.ganga {
    background-color: #16213e;
    border: 1px solid #f39c12;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.ganga:last-child {
    margin-bottom: 0;
}

.ganga p {
    font-size: 1.2rem;
}