@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
	--font-sans:
		"Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
	/* Fondos */
	--bg-main: hsl(0, 0%, 2%);
	--bg-secondary: hsl(0, 0%, 5%);
	--bg-tertiary: hsl(0, 0%, 5%);

	/* Acentos */
	--accent: hsl(210, 100%, 55%);
	--accent-hover: hsl(210, 100%, 45%);

	--danger: hsl(0, 85%, 60%);
	--danger-hover: hsl(0, 85%, 50%);

	/* Texto */
	--text-main: hsl(0, 0%, 94%);
	--text-muted: hsl(0, 0%, 60%);

	/* Bordes */
	--border-soft: hsl(0, 0%, 10%);
	--border-strong: hsl(0, 0%, 16%);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", sans-serif;
	font-size: 15px;
	color: var(--text-main);
	background-color: var(--bg-main);
}

.auth-user-profile {
	position: fixed;
	top: 16px;
	right: 16px;
	z-index: 999;

	display: grid;
	grid-auto-flow: column;
	place-items: center;
	gap: 10px;

	padding: 12px 18px;
	background: var(--bg-tertiary);
	border-radius: 12px;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);

	color: var(--text-main);
	font-family: sans-serif;
}

.auth-user-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;

	display: grid;
	place-items: center;
	background-color: var(--accent);

	font-size: 1.5rem;
	font-weight: bold;
}

.auth-user-info {
	display: grid;
	justify-items: start;
	align-content: center;
}

.auth-user-logout-btn {
	display: grid;
	place-items: center;

	background: none;
	border: none;
	cursor: pointer;
	color: var(--text-muted);

	padding: 12px;
}

.auth-user-logout-icon {
	width: 25px;
	height: 25px;
	transition: all 0.2s ease;
}

.auth-user-logout-btn:hover .auth-user-logout-icon {
	color: var(--danger-hover);
}

.sidebar-nav {
	position: fixed;
	top: 16px;
	left: 16px;
	z-index: 999;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sidebar-nav a {
	padding: 10px;
	border-radius: 12px;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
	transition: all 0.2s ease;
	background-color: var(--bg-tertiary);
}

.sidebar-nav a:hover {
	color: var(--accent);
	box-shadow: 0 0 8px hsla(203, 89%, 53%, 0.8);
	transform: scale(1.1);
}

.sidebar-nav a svg {
	width: 44px;
	height: 44px;
}

.sidebar-nav a.active-route {
	color: var(--accent);
}

main {
	width: 600px;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0 0 16px var(--shadow-main);
}

article.index,
article.show {
	padding: 12px 16px;
	border: 1px solid var(--border-strong);
	line-height: 20px;
	background-color: var(--bg-secondary);
}

article.index {
	margin: 0;
	border-top: none;
	transition: all 0.2s ease;
}

article.show {
	display: grid;
	justify-items: center;
	height: fit-content;
	margin: 30% 0;
	border-radius: 10px;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
	text-align: center;
}

.text-muted {
	color: var(--text-muted);
}

div.resource-actions,
div.form-actions {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}

div.resource-actions a,
div.resource-actions button,
div.form-actions a,
div.form-actions button {
	padding: 6px 16px;
	border: 1px solid var(--border-soft);
	border-radius: 50px;
	transition: all 0.2s ease;
}

div.resource-actions {
	justify-content: flex-start;
}

div.resource-actions button {
	color: var(--danger);
	cursor: pointer;
}

div.resource-actions button:hover {
	color: var(--text-main);
	background-color: var(--danger-hover);
}

div.resource-actions a:hover {
	background-color: var(--accent);
}

div.form-actions {
	justify-content: flex-end;
}

div.form-actions button {
	cursor: pointer;
}

div.form-actions button:hover {
	background-color: var(--accent);
}

div.form-actions a:hover {
	color: var(--text-primary);
	background-color: var(--danger);
}

form.auth-form,
form.resource-form {
	display: flex;
	flex-direction: column;
	justify-items: center;
	gap: 10px;
	height: fit-content;
	margin: 10vh auto 0;
	padding: 12px 16px;
	background-color: var(--bg-secondary);
	border: 1px solid var(--border-soft);
	border-radius: 12px;
	box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.4);
	line-height: 20px;
}

form.auth-form button {
	margin-top: 0.4rem;
	padding: 12px 16px;
	background-color: var(--accent);
	border: 1px solid var(--border);
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.2s ease;
}

form.auth-form button:hover {
	background-color: var(--accent-hover);
}

form.auth-form a {
	color: var(--accent);
	text-decoration: none;
	transition: all 0.2s ease;
}

form.auth-form a:hover {
	color: var(--accent-hover);
}

form label {
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-main);
	display: block;
}

form input {
	margin: 0.2rem 0;
	background-color: var(--bg-main);
	width: 100%;
	font-size: x-large;
	border: 1px solid var(--border-soft);
	border-radius: 5px;
	padding: 10px;
	outline: none;
	transition: all 0.4s ease;
	font-weight: 300;
}

form input:focus {
	border: 1px solid var(--accent);
}

form textarea {
	display: inline-block;
	height: 200px;
	font-size: large;
	border: 1px solid var(--border-soft);
	overflow: hidden;
	border-radius: 5px;
	padding: 10px;
	outline: none;
	transition: all 0.4s ease;
	background-color: var(--bg-main);
	resize: none;
}

form textarea:focus {
	border: 1px solid var(--accent);
}

p.error-message {
	float: inline-end;
	color: var(--danger);
}

footer {
	position: fixed;
	bottom: 10px;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0;
	font-size: large;
}
